* {
    margin: 0;
    padding: 0;
  }

  nav {
    margin: 52px;
  }
  /* navigation link */
  
  ul {
    overflow: auto;
    list-style-type: none;
  }
 /* This defines an unordered list */
  
 li {
    height: 25px;
    float: left;
    margin-right: 0px;
    border-right: 1px solid 
    #aaa;
    padding: 0 20px;
  }
  /* This represents a list item */
  
  li:last-child {
    border-right: none;
  }
 
  li a {
    text-decoration: none;
    color: #ccc;
    font: 20px/1 Menlo, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
   
  li a:hover {
    color: #666;
  }

  li.active a {
    font-weight: bold;
    color: #333;
  }

  img {
      border-radius: 100%;
  }
/* This contains the border radius that changes the image to a circle rather than a square */
  body {
      text-align: center;
      background-color: crimson;
  }
  /* This means the text is aligned in the center and the main background colour for my landing page is crimson */